.Search {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.Search > input[type="text"] {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  height: 2rem;
  font-size: 1.25rem;
  padding: 1.5rem 0.5rem;
  width: 100%;
}

.Search > input[type="text"]:focus {
  border-bottom: 1px solid black;
  outline: none;
}

.Search :nth-child(2) {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 620px) {
  .Search > input[type="text"] {
    text-align: center;
    width: 100%;
  }
}
